:root {
  --white: #fff;
  --grey: #ECECEC;
  --blueberry: #050542;
  --turquoise: #66e5bf;
  --lavender: #a675f5;
  --attention: #050542;
  --attention-background: #05054233;
  --call-to-action: #fffc86;
  --rounded: .5rem;
  --pilled: 2rem;
  --shadow: .3rem;
  --breakpoint-medium: 30em;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../fonts/OpenSans-VariableFont_wdth\,wght.woff2) format('woff2');
}

* {
  font-family: "Open Sans", sans-serif;
  list-style: none;
}

*::-webkit-scrollbar { display: none; }
body { overflow-x: hidden; }
h2 { margin-left: 1.5rem; }
footer { margin-top: 2rem; }
footer nav h2 { margin: calc(-1rem - 1px) calc(-1rem - 1px) 1rem 2rem }
::marker { color: currentColor; }
section a { padding: 0 .25rem }